{% load static %}
<!doctype html>
<html class="no-js" lang="">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Cookit | All Reciepes </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Normalize Css -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Modernizr Js -->
    <script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
    
</head>
<body>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header class="header-one">
            <div id="header-main-menu" class="header-main-menu header-sticky">
                <div class="container">                    
                    <div class="row">
                        <div class="col-lg-8 col-md-3 col-sm-4 col-4 possition-static">
                            <div class="site-logo-mobile">
                                <a href="/home" class="sticky-logo-light"><img src="https://www2.lunapic.com/do-not-link-here-use-hosting-instead/16748594318069916?40238682359" alt="Site Logo"></a>
                                <a href="/home" class="sticky-logo-dark"><img src="https://www2.lunapic.com/do-not-link-here-use-hosting-instead/16748594318069916?40238682359" alt="Site Logo"></a>
                            </div>
                            <nav class="site-nav">
                                <ul id="site-menu" class="site-menu">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/all_reciepes">All Recipes</a></li>
                                    <li><a href="/my_reciepes">My Recipes</a></li>
                                    <li><a href="/categories">Categories</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4 col-md-9 col-sm-8 col-8 d-flex align-items-center justify-content-end">
                            <div class="nav-action-elements-layout1">
                                <ul>
                                    <li>
                                        <div class="cart-wrap cart-on-mobile d-lg-none">                                            
                                            
                                            
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="/add_reciepe_page" class="fill-btn"><i class="flaticon-plus-1"></i>Add
                                            RECIPE</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mob-menu-open toggle-menu">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="nav-action-elements-layout2">
                                
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="site-logo-desktop">
                                <a href="/home" class="main-logo"><img src="https://www2.lunapic.com/do-not-link-here-use-hosting-instead/16748594318069916?40238682359" alt="Site Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="nav-action-elements-layout3">
                                <ul>
                                    <li>
                                        <div class="header-search-box">
                                            <a href="/search" title="Search" class="search-button">
                                                <i class="flaticon-search"></i>
                                            </a> 
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-wrap d-none d-lg-block">                                            
                                            <div class="cart-info">
                                    
                                            </div>                                   
                                    
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End Here -->

        <!-- Inne Page Banner Area Start Here -->
        <section class="inner-page-banner bg-common" data-bg-image="img/figure/inner-page-banner1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Add a Recipe</h1>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Recipe Post</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                                    <!-- Submit Recipe Area Start Here -->
        <section class="submit-recipe-page-wrap padding-top-74 padding-bottom-50">
            <div class="container">
                <div class="row gutters-60">
                    <div class="col-lg-8">
                        <form enctype="multipart/form-data" class="submit-recipe-form" method="post" action="/add_recipe">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Recipe Name</label>
                                <input type="text" placeholder="Recipe Name" class="form-control" name="name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label>Choose Category</label>
                                <select name="category" id="">
                                {% for category in categories %}
                                <option value="{{category}}">{{category}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea placeholder="Type your text" class="textarea form-control" name="description" id="form-message"
                                    rows="7" cols="20"  required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="additional-input-wrap">
                                <label>Upload your photo</label>
                                <div class="form-group">
                                    <ul class="upload-img">
                                        <input type="file" name="image" >
                                    </ul>
                                </div>
                            </div>
                            <div class="additional-input-wrap">
                                
                                <label>Additional Informations:</label>
                                <div class="row gutters-5">
                                    <div class="col-lg-6">
                                        <div class="form-group additional-input-box icon-left">
                                            <i class="far fa-clock"></i>
                                            <input type="text" placeholder="Preparation Time: 00.00.00" class="form-control" name="preparation_time">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group additional-input-box icon-left">
                                            <i class="fas fa-utensils"></i>
                                            <input type="text" placeholder="Cooking Time: 00.00.00" class="form-control" name="cooking_time">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group additional-input-box icon-left">
                                            <i class="fas fa-users"></i>
                                            <input type="text" placeholder="Serving People: 00" class="form-control" name="serving_people">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-input-wrap">
                                <label>Ingredients:</label>
                                <div id="new_ingredient">
                                    <div id="row no-gutters" class="row no-gutters">
                                        <div class="col-6">
                                            <div class="form-group additional-input-box icon-left">
                                                <i class="fas fa-arrows-alt"></i>
                                                <input type="text" placeholder="Ingredient Name" class="form-control" name="ingredient_name_0">     
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group additional-input-box icon-right">
                                                
                                                <input type="text" placeholder="Amount" class="form-control" name="ingredient_quantity_0">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="newinput" class="row no-gutters"></div>
                                </div>
                                <input type="hidden" id="number_of_ingredients" name="number_of_ingredients" value="1">
                                <button  type="button" class="btn-upload" id="rowAdder"><i class="flaticon-add-plus-button"></i>ADD NEW INGREDIENT</button>
                            </div>
                            <div class="additional-input-wrap">
                                <label>Instructions:</label>
                                <div id="new_instruction">
                                    <div id="row no-gutters" class="row no-gutters">
                                        <div class="col-6">
                                            <div class="form-group additional-input-box icon-left">
                                                <i class="fas fa-arrows-alt"></i>
                                                <input type="text" placeholder="Instruction" class="form-control" name="instruction_specification_0">     
                                            </div>
                                        </div>
                                    </div>
                                    <div id="newinstruction" class="row no-gutters"></div>
                                </div>
                                <input type="hidden" id="number_of_instructions" name="number_of_instructions" value="1">
                                <button type="button" class="btn-upload" id="instructionAdder"><i class="flaticon-add-plus-button"></i>ADD NEW
                                    Instruction</button>
                            </div>
                            
                        
                            <input type="submit" class="btn-submit" value="SUBMIT RECIPE">
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Submit Recipe Area End Here -->

    </div>
    <!-- Search Box Start Here -->
    <div id="search" class="search-wrap">
        <button type="button" class="close">×</button>
        <form class="search-form">
            <input type="search" value="" placeholder="Type here........" />
            <button type="submit" class="search-btn"><i class="flaticon-search"></i></button>
        </form>
    </div>
    <!-- Search Box End Here -->

        <!-- Jquery Js -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <!-- Bootstrap Js -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- Bootstrap Js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Plugins Js -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <!-- Owl Carousel Js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- Smoothscroll Js -->
        <script src="{% static 'js/smoothscroll.min.js' %}"></script>
        <!-- Custom Js -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script type="text/javascript">
            var number_of_ingredients=0;
            $("#rowAdder").click(function () {
            number_of_ingredients=number_of_ingredients+1;
            newRowAdd =
            '<div class="col-6">'+
            '<div class="form-group additional-input-box icon-left">'+
            '<i class="fas fa-arrows-alt"></i>'+
            '<input type="text" placeholder="Ingredient Name" class="form-control" name="ingredient_name_'+number_of_ingredients+'">'+
            '</div>'+
            ' </div>'+
            '<div class="col-6">'+
            '<div class="form-group additional-input-box icon-right">'+
            '<input type="text" placeholder="Amount" class="form-control" name="ingredient_quantity_'+number_of_ingredients+'">'+
            '<i class="fas fa-times"></i>'+
            '</div>'+
            '</div>';
            $('#newinput').append(newRowAdd);
            input=document.getElementById("number_of_ingredients");
            input.value= number_of_ingredients+1;
        });
        var number_of_instructions=0;
        $("#instructionAdder").click(function () {
            number_of_instructions=number_of_instructions+1;
            newRowAdd =
            '<div class="col-6">'+
            '<div class="form-group additional-input-box icon-left">'+
            '<i class="fas fa-arrows-alt"></i>'+
            '<input type="text" placeholder="Instruction" class="form-control" name="instruction_specification_'+number_of_instructions+'">'+
            '</div>'+
            ' </div>';
            $('#newinstruction').append(newRowAdd);
            input=document.getElementById("number_of_instructions");
            input.value= number_of_instructions+1;
        })
        </script>
</body>


</html>